#fullfillment-selection {
  display: none;
}

#food-selection {
display: none;
}

#size-selection {
display: none;
}

#ingredients-selection {
display: none;
}

.jumbotron {
  height: auto;
  overflow: hidden;
}
