.jumbotron {
  height: auto;
  overflow: hidden;
}

/*hide menu options until selected*/
#fullfillment-selection {
  display: none;
}

#food-selection {
display: none;
}

#size-selection {
display: none;
}

#crust-selection {
display: none;
}

#sauce-selection {
display: none;
}

#cheese-selection {
display: none;
}

#ingredients-selection {
display: none;
}

#pricing-ordering {
display: none;
}
