.jumbotron {
  height: 360px;
  overflow: hidden;
  font-size: 15px;
}

.conHeader {
  background-image: url('../img/pizza2.png');
}

.conAlternatives {
  height: 75px;
  background-color: steelblue;
  color: white;
}

#size-list {
  list-style: none;
  font-size: 15px;
  align-items: baseline;
}

/*hide alternative order options and menu options until selected*/

.conAlternatives {
  display: none;
}

.conOptions {
  display: none;
}

.conToppings {
  display: none;
}

#fullfillment-selection {
  display: none;
}

#food-selection {
display: none;
}

#size-selection {
display: none;
}

#crust-selection {
display: none;
}

#sauce-selection {
display: none;
}

#cheese-selection {
display: none;
}

#ingredients-selection {
display: none;
}

#show-price-details {
  display: none;
}

#show-price-order {
  display: none;
}

#submit-toppings {
  display: none;
}

#show-confirmation {
  display: none;
}
